html{

    box-sizing: border-box;
}

div{

    text-transform: uppercase;

}

.box { 
    width: 200px; 
    height: 100px; 
    padding: 10px; 
    border: 2px solid black; 
    margin: 20px; 
}

.color-darkred {
background-color: darkred;
    
}

.color-coral {
   background-color: coral;
}


.text-color{
    
}