h

h1{

    color: blueviolet;
    text-transform: uppercase;
}


.frutas{

   background-color: brown;
   width: 100px;
   height: 100px;
   display: block;
}

.granos{

    background-color: rgb(28, 72, 183);
    width: 100px;
    height: 100px;
    display: inline-block;
 }


 .colores{

    background-color: rgb(23, 202, 80);
    width: 100px;
    height: 100px;
    display: inline;
 }

