h1{

    color: blueviolet;
    text-transform: uppercase;
}


.frutas{

   background-color: brown;
   width: 100px;
   height: 100px;
   display: block;
}

.granos{

    background-color: rgb(42, 77, 165);
    width: 100px;
    height: 100px;
    display: block;
 }