h1 {

   color: lightsteelblue;
   text-align: center;
   text-decoration: double;
   font-weight: bold;
}

div {
 
   text-transform: uppercase;
   text-align: center;
   text-shadow: 25em;


}

ol{

   text-align: center;
}


.primero {

   color: coral;
}

.segundo{
   color: darkolivegreen;
}

.tercero{

   color: khaki;

}