h1 {

   color: lightsteelblue;
   text-align: center;
   text-decoration: double;
   font-weight: bold;
}

div {
 
   text-transform: uppercase;
   text-align: center;
   text-shadow: 80em;


}

.centro {

   text-align: center;
}



.color-coral {

   color: coral;
}

.color-darkolivegreen{
   color: darkolivegreen;
}

.color-khaki{

   color: khaki;

}