
h1 {

    text-align: center;
    text-transform: uppercase;
text-shadow: 25em;
color: coral;

}

.paisaje {
  
    background-image: url(../img/paisaje.jpg) ;
    height: 400px;
    width: 1000px;
    background-repeat: no-repeat;
background-size: cover;
}

.paisaje2 {

    background-image: url(../img/paisaje2.jpg) ;
    height: 400px;
    width: 1000px;
    background-repeat: no-repeat;
background-size: cover;


}

.paisaje3 {

    background-image: url(../img/paisaje3.jpg) ;
    height: 400px;
    width: 1000px;
    background-repeat: no-repeat;
background-size: cover;


}

nav{

    background-color: bisque;
    text-transform: uppercase;
    text-align: center;
}


a {

    text
}