
h1 {

    te
}

.paisaje {
  
    background-image: url(../img/paisaje.jpg) ;
    height: 400px;
    width: 1000px;
    background-repeat: no-repeat;
background-size: cover;
}

.paisaje2 {

    background-image: url(../img/paisaje2.jpg) ;
    height: 400px;
    width: 1000px;
    background-repeat: no-repeat;
background-size: cover;


}